<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Id="shyft.Pulse" Name="Pulse" Manufacturer="shyft" Version="$(var.PulseVersion)" 
           UpgradeCode="AE2D7C84-7158-40D3-A7BD-1483FA523267"
           ProductCode="*">
    <MajorUpgrade 
      AllowSameVersionUpgrades="no"
      AllowDowngrades="yes"/>
    

    <MediaTemplate EmbedCab="yes"/>
    
    <Feature Id="Main">
      <ComponentGroupRef Id="Program"/>
      <ComponentRef Id="Shortcut"/>
    </Feature>
  </Package>
</Wix>
  